* {
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Slab, Arial, sans-serif;
    overflow-x: hidden;

}

/* Header voor skillpage Esat Esitmez */

header {
    background-color: #2aa0ad;
    padding: 20px;
    text-align: center;
    border: 3px solid #6a00ea;
    color: #ffffff;
}

/*Menu*/

ul {
    background-color: #2aa0ad;
    border-left: 3px solid #6a00ea;
    border-right: 3px solid #6a00ea;
    border-bottom: 3px solid #6a00ea;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
    list-style-type: none;
}
ul li {
    display: inline-block;
    padding-left: 250px;
    padding-right: 150px;
}
ul li a{
    text-decoration: none;
}
ul li a:hover {
    text-decoration: underline;
}

/* Video */

nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #dee1e1;
    padding: 20px;
}
article {
    float: left;
    padding: 40px;
    width: 70%;
    background-color: #dee1e1;
    height: 300px;
}

/* Informatie bar */

#info {
    padding: 0;
    text-align: center;
}
#test {
    width: 100%;
}
.infocenter{
    text-align: center;
}

#zwart {
    color: black;
}

/* Span kleur voor tekst */

span {
    color: #7319d9;
}

/*Interesse's*/

.informatie {
    width: 100%;
    background-color: #2aa0ad;
    border: 3px solid #6a00ea;
    padding: 5px;
}

/* Skills */

.info {
    text-align: center;
}
#skills {
    text-align: center;
}
#paars {
    color: #6a00ea;
}

/*foto*/

#carrefour {
    width: 200px;
    height: auto;
    padding-top: 50px;
}
#stageplek {
    width: 200px;
    height: auto;
    padding-top: 30px;
}
#ik {
    width: 200px;
    height: auto;
    padding-top: 40px;
    padding-left: 20px;
    border-radius: 120px;
}

#extrainfo {

    width: 100%;

}
/*Mijn schooljaren*/

#school {
    float: left;
    width: 33.33%;
    height: 370px;
    background: #2aa0ad;
    padding: 50px;
    border: 3px solid #6a00ea;
}

/*Evaluatie*/

#evaluatie{

    width: 33.33%;
    height: 370px;
    background: #2aa0ad;
    padding: 50px;
    border: 3px solid #6a00ea;
}

/*Skill Evaluatie*/

#skillevaluatie {

    width: 33.33%;
    height: 370px;
    background: #2aa0ad;
    padding: 50px;
    border: 3px solid #6a00ea;
}

/* Kleur */

#ervaring p {
    color: #6a00ea;
}
article p {

    color: #6a00ea;
}

/* Foto rechts */

#auto{
    background-color:  #dee1e1;
    text-align: center;
}

#autos {
    width: 300px;
    height: auto;
    padding-top: 50px;
    border-radius: 20px;
}

#voetbal {
    width: auto;
    height: 250px;
    padding-top: 100px;

}
#voetballen{
    background-color:  #dee1e1;
    text-align: center;
}

/* Footer */


footer {
    padding-top: 20px;
    padding-left: 250px;
    padding-right: 150px;
    background-color: #2aa0ad;
    text-align: center;
    border: 3px solid #6a00ea;
}
span {
    color: #7319d9;
}
#contact img {
    width: 40px;
    height: auto;
    max-width: 25%;
    border-radius: 50%;
}
