* {
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Slab, Arial, sans-serif;
    overflow-x: hidden;
}


/**Ruimte (Databank van designers + LOGO)**/
header {
    background-color: #f1f1f1;
    max-height: 100px;


}
/**DATABANK VAN DESIGNERS**/
header h1{
    position: relative;
    top: -120px;
    left: 666px;
}

/**LOGO**/
header img {
    height: 150px;
    width: 150px;
    position: relative;
    top: -15px;
    left: 85px;
}


/**ruimte achter navigatieknoppen**/
main nav ul {
    background-color: #c9f9ff;
    border: 1px solid #b8b3be;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
    list-style-type: none;
    display: block;
}

main nav ul li {
    display: inline-block;
    padding-left: 250px;
    padding-right: 150px;
    color: #000;
    font-size: 20pt;

}

main nav ul li a{
    text-decoration: none;
}

main nav ul li a:hover {
    background-color: #c9f9ff;
    border-radius: 7px;
    text-decoration: overline;
}


main nav ul li a:active {
    text-decoration: underline #000000;
}

main nav ul li a:visited {
    color: #000;
}



footer {
    padding-left: 250px;
    padding-right: 150px;
    background-color: #c9f9ff;
    text-align: center;
}




